/* Log in Template CSS */
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
	border-bottom-color: #3E444C !important;
}
.nav-tabs.nav-justified>li>a:hover, .nav-tabs.nav-justified>li>a:focus {
	border-bottom-color: #3E444C !important;
}

.hidden {
	display: none;
}

div.form-group {
	margin-bottom: 0px;
}

#loginContainer {
	padding-top: 15px;
	padding-bottom: 0px;
}

#loginNav {
	max-width: 250px;
	padding: 0px;
}

#loginContent > div {
	max-width: 100%;
}

#loginContent {
	padding-top: 10px;
	padding-bottom: 15px;
	max-width: 250px;
	border: solid 1px #1C1E22;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: none;
	background-color: #3E444C;
}

.loginbtn, input {
	width: 100%;
}

.loginbtn:focus {
	outline: 0;
}

#forgotPassword {
	margin-top: 5px;
}

.small-space {
	margin-top: 0px;
	margin-bottom: 0px;
}
/* End of Log in Template CSS */